.parallax-wrapper {
  position: relative;
  height: 100vh;

  /* Parallax */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wedding-text {
  text-align: center;
  z-index: 2;
}

.wedding-textbg {
  background: rgba(255, 255, 255, 0.7);
  padding: 12px 28px;
  border-radius: 6px;
}

.subtitle {
  margin-top: 20px;
}

/* Disable parallax on mobile */
@media (max-width: 768px) {
  .parallax-wrapper {
    display: none;
  }
}